<div class="container">
  <div *ngIf="loading" class="comments__loading-text">Loading Comments...</div>
  <div *ngIf="!loading" class="comments">
    <div *ngIf="messages && messages.length === 0">
      No Comments
    </div>
    <div class="comment" *ngFor="let comment of comments">
      <div class="comment__user">{{comment.user}}</div>
      <div class="comment__date">
        <i class="material-icons">access_time</i> {{comment.attributes.created_at | date }}
      </div>
      <div class="comment__text">{{ comment.attributes.message }}</div>
    </div>
  </div>
</div>