<div class="container">
  <div *ngIf="loading" class="messages__loading-text">Loading messages...</div>
  <div *ngIf="!loading" class="messages">
    <div *ngIf="messages && messages.length === 0">
      No messages
    </div>
    <div class="message" *ngFor="let message of messages">
      <div class="message__user">{{message.user}}</div>
      <div class="message__date">
        <i class="material-icons">access_time</i> {{message.attributes.created_at | date }}
      </div>
      <div class="message__text">{{ message.attributes.message }}</div>
    </div>
  </div>
</div>

<app-message-input (messageAdded)="updateMessages()"></app-message-input>