@import url('https://rsms.me/inter/inter-ui.css');

body, html {
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

//// UTILITIES

.u--no-margin {
  margin: 0;
}